
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}
.square{
    width: 30%;
    height: 20vh;
    background-color: red;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    background-color: yellow;
    font-size: 16px;
    
}